<%# 戻る/進む　ボタン %>
<div class="btn-group">
  <%= link_to t('common.go_previous'),
              previous_link_param,
              class: 'btn btn-outline-primary' %>
  <%= link_to t('common.go_next'),
              next_link_param,
              class: 'btn btn-outline-primary' %>
</div>
