<%# 間隔を変更するボタン群 %>
<div class="d-flex align-items-center">
  <div class="btn-group">
    <% nav_props.each do |props| %>
      <%= link_to props.name,
                  props.link_param,
                  class: "btn btn-sm #{props.current? ? 'btn-primary' : 'btn-outline-primary'}" %>
    <% end %>
  </div>
</div>
