<nav class="navbar navbar-lignt bg-primary">
  <div class="container-fluid">
    <div class="navbar-brand text-white">
      <%= t('common.application_name') %>
    </div>

    <div>
      <%= button_to t('common.sign_out'),
                    manager_signed_in? ? destroy_manager_session_path : destroy_employee_session_path,
                    data: { turbo_confirm: t('common.sign_out_confirm') },
                    method: :delete,
                    class: 'btn btn-primary border-white' %>
    </div>
  </div>
</nav>
